<html>
    <head>
        <title>Home Pro</title>
        <script src="assets/jquery-3.6.0.min.js"></script>

        <!-- <script src="assets/jquery-ui.min.js"></script> -->
        <script src="assets/jquery-ui.js"></script>
        <link rel="stylesheet" href="assets/jquery-ui.theme.min.css">


        <script src="assets/controller.js"></script>
        <link rel="stylesheet" href="assets/styles/default/style.css">
        <link rel="icon" type="image/png" href="assets/favicon.ico">

    </head>
    <body>
        <div id="background"></div>
        <nav>
            <div>
                <ul class="menu2">
                    <a class="txt-shadow" href="#shortcuts"><li>Shortcuts</li></a>
                    <a class="txt-shadow" href="#"><li>Files</li></a>
                    <a class="txt-shadow" href="#"><li>Projects</li></a>
                </ul>
            </div>
            <div>
                
                <form action="<%-defaultSearch%>=" class="searchForm" id="searchForm" onsubmit="validateSearch()">
                    <input id="searchInput" type="text" value="" place holder="Search"
                        name="q" autofocus onkeyup="testApi();" class="txt-shadow"
                        autocomplete="off" tabindex="1" >
                    <input id="searchBtn" type="submit" value="Go!" onclick='event.preventDefault();validateSearch();'>
                    <label for="searchBtn" style="background: var(--background);" tabindex="1">
                        <img src="<%-defaultSearchImg%>" alt="Search" height="20" style="margin:5px;">
                    </label>
                    <ul id="searchEngines" class="engines" tabindex="2">
                        <div class="desp noselect" style="pointer-events: none;">▼</div>
                        <div style="margin-top: 22px;width: 0px;height: 0px;" class="noselect">
                            <%-engines%>
                        </div>
                    </ul>
                </form>
            </div>
        </nav>
        <section id="shortcuts">
            <h5 class="txt-shadow">Shortcuts</h5>
            <div class="container">
                <%-shortcuts%>
            </div>
        </section>
        <section>
            <h5 class="txt-shadow">Files</h5>
            <div class="container">
                <%-filesFound%>
            </div>
        </section>
        <section>
            <h5 class="txt-shadow">Folders</h5>
            <div class="container">
                <%-folders%>
            </div>
        </section>
        <!-- <img id="configIcon" src="assets/styles/default/config.png" alt=""> -->

        <div id="testClick" style="
            display: block;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 2px;
            height: 2px;
            background: transparent;
            z-index: 9999999;
            pointer-events: none;
        "></div>
<script>
function shortcutsRead(){
    $.ajax({
        url:"http://localhost:8080/shortcuts/read",
        success:function(response){
            console.log(response);
        }
    });
}
</script>
        <div id="editLink">
            <form action="">
                <table>
                    <tr>
                        <td><label class="txt-shadow" for="">Name</label></td>
                        <td><input type=""></td>
                    </tr>
                    <tr>
                        <td><label class="txt-shadow" for="">icon</label></td>
                        <td><input type=""></td>
                    </tr>
                    <tr>
                        <td><label class="txt-shadow" for="">uri</label></td>
                        <td><input type=""></td>
                    </tr>
                    <tr>
                        <td><label class="txt-shadow" for="">New tab</label></td>
                        <td><input type=""></td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <button>Save</button>
                                <input type="reset" value="cancelar" onclick='$("#editLink").fadeOut()'>
                            </span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- <script src="http://suggestqueries.google.com/complete/search?output=toolbar&hl=en&q=cotorrisa"></script> -->
        <!-- <script src="https://www.google.com/complete/search?client=hp&hl=en&sugexp=msedr&gs_rn=62&gs_ri=hp&cp=1&gs_id=9c&q=a&xhr=t&callback=hello&callback=testApi"></script> -->
        <!-- 
            https://simplestepscode.com/autocomplete-data-tutorial/
         -->
    </body>
    <footer class="credits txt-shadow">
        <span>⚙</span>
        <a href="https://twitter.com/a_non34">t/a_non34</a>
    </footer>
</html>